:root {
  --color-text: #6c6c6c;
  --color-gradient: linear-gradient(90deg, #fe985b 2.77%, #fe4fa7 100%);
}
::placeholder {
  color: #fff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
header {
  overflow: hidden;
}
.header-fixed {
  position: fixed;
  background: linear-gradient(
    146.88deg,
    rgb(255, 81, 47) -6.27%,
    rgb(221, 36, 118) 74.49%
  );
  padding-bottom: 22px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  animation: header__effect 0.5s ease;
}
#header-banner {
  position: relative;
  top: 0;
  left: 0;
  background: linear-gradient(
      146.88deg,
      rgba(255, 81, 47, 0.865885) -6.27%,
      rgba(221, 36, 118, 0.766559) 74.49%
    ),
    url(../accsets/image/banner-Photo.png);
}
nav {
  padding-top: 21px;
  margin: 0 25px 0 36px;
  white-space: nowrap;
}
.nav__logo {
  margin-left: 44px;
  font-weight: 800;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.826794px;
  color: #ffffff;
}
.nav__logo:hover {
  color: #fff;
}
.nav__icon-bars {
  display: none;
}
.nav__left {
  display: flex;
  align-items: center;
}
.nav__list {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__list-center {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.nav__list-center li:first-child {
  margin-left: 71px;
}
.nav__list-center > li {
  transition: 0.3s linear;
}
.nav__list-center > li:hover {
  color: #fffe00;
}
.nav__item {
  display: flex;
  align-items: center;
  margin: 0 16px;
  cursor: pointer;
}
.nav__list-right {
  display: flex;
}
.nav__list-right .btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  padding: 15px 33px;
}
.nav__list-right li:first-child {
  transition: 0.3s linear;
  margin-right: 32px;
}
.nav__list-right li:first-child:hover {
  color: #fffe00;
}
.nav__list-right li:last-child {
  margin-left: 0;
  font-size: 16px;
  background: #fffe00;
  box-shadow: 0px 10px 30px rgba(116, 115, 115, 0.234601);
  border-radius: 5px;
  color: #000;
  transition: 0.3s linear;
}
.nav__list-right li:last-child:hover {
  background: #fff;
}
.header__content {
  padding-top: 194px;
  padding-bottom: 246px;
  padding-left: 149px;
}
.header__content-title {
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 60px;
  line-height: 82px;
  letter-spacing: 0.541353px;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
}
.header__content-describer {
  color: #ffffff;
  max-width: 970px;
  font-weight: 500;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.767737px;
  color: #ffffff;
  opacity: 0.82;
  margin-right: 316px;
}
.header__content-btn {
  margin-top: 32px;
}
.header__content-btn .btn:first-child {
  background: #fffe00;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.53151px;
  color: #050505;
  margin-right: 33px;
  padding: 18px 48px 15px;
  transition: 0.3s linear;
}
.header__content-btn .btn:first-child:hover {
  background: #ffffff;
}
.header__content-btn .btn:last-child {
  transition: 0.3s linear;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.53151px;
  padding: 18px 36px 15px;
  color: #000000;
}
.header__content-btn .btn:last-child:hover {
  background: #fffe00;
}
.header__phone-image {
  object-fit: cover;
  position: absolute;
  bottom: -174px;
  right: 0;
  filter: drop-shadow(0px 30px 50px rgba(0, 0, 0, 0.14));
}

/* section introduce */
#introduce {
  text-align: center;
  padding: 91px 0 106px;
  background-color: #fff;
}
.introduce__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 82px;
  letter-spacing: 0.324812px;
  color: #000000;
  text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
}
.introduce__description {
  margin: auto;
  max-width: 996px;
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.53151px;
  color: #969696;
  opacity: 0.82;
}
/* section topics */

#topics {
  padding-top: 57px;
  background: #f2f2f2;
  overflow: hidden;
}
#topics .slick-prev {
  display: none !important;
}

#topics .slick-next {
  width: 120px;
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  transition: 0.3s linear;
}
#topics .slick-next:hover {
  filter: grayscale(100%);
}
#topics .row {
  margin-left: 8px;
}
#slick-slide-control10,
#slick-slide-control11,
#slick-slide-control12,
#slick-slide-control13,
#slick-slide-control14,
#slick-slide-control15,
#slick-slide-control16,
#slick-slide-control17 {
  display: none;
}
#topics .slick-list {
  position: relative;
}
.topics__title {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 82px;
  letter-spacing: 0.324812px;
  color: #000000;
  text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
}
.topics__description {
  margin-bottom: 42px;
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.53151px;
  color: #969696;
  mix-blend-mode: normal;
  opacity: 0.82;
}
.topics__item {
  position: relative;
  top: 0;
  left: 0;
  padding-right: 18.5px;
  cursor: pointer;
}
.topics__item img {
  transition: 0.3s linear;
  filter: grayscale(0%);
}
.topics__item:hover img {
  filter: grayscale(80%);
}
.topics__item img {
  margin: auto;
}
.topics__item-name {
  white-space: nowrap;
  position: absolute;
  bottom: 13px;
  left: calc(50% - 9.25px);
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 28px;
  line-height: 82px;
  letter-spacing: 0.252631px;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
}

/* section topics */

#mentor {
  padding-top: 57px;
  padding-bottom: 104px;
  background: #f2f2f2;
  overflow: hidden;
}
#mentor .slick-prev {
  display: none !important;
}

#mentor .slick-next {
  width: 120px;
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  transition: 0.3s linear;
}
#mentor .slick-next:hover {
  filter: grayscale(100%);
}
#mentor .row {
  margin-left: 8px;
}
#slick-slide-control20,
#slick-slide-control21,
#slick-slide-control22,
#slick-slide-control23,
#slick-slide-control24,
#slick-slide-control25,
#slick-slide-control26,
#slick-slide-control27 {
  display: none;
}
#mentor .slick-list {
  position: relative;
}
.mentor__title {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 82px;
  letter-spacing: 0.324812px;
  color: #000000;
  text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
}
.mentor__description {
  margin-bottom: 42px;
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.53151px;
  color: #969696;
  mix-blend-mode: normal;
  opacity: 0.82;
}
.mentor__item {
  position: relative;
  top: 0;
  left: 0;
  padding-right: 18.5px;
  cursor: pointer;
}
.mentor__item img {
  margin: auto;
}
.mentor__item img {
  transition: 0.3s linear;
  filter: grayscale(0%);
}
.mentor__item:hover img {
  filter: grayscale(80%);
}
.mentor__item-name {
  white-space: nowrap;
  position: absolute;
  bottom: 13px;
  left: calc(50% - 9.25px);
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 28px;
  line-height: 82px;
  letter-spacing: 0.252631px;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
}
/* section user-evaluate*/
#user-evaluate {
  background: url(../accsets/image/Testimonials\ Section.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#user-evaluate .slick-prev {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  transition: 0.3s linear;
  border-radius: 50%;
  display: block;
}
#user-evaluate .slick-prev:hover {
  filter: grayscale(100%);
}
#user-evaluate .slick-next {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  transition: 0.3s linear;
}
#user-evaluate .slick-next:hover {
  filter: grayscale(100%);
}
.user-evaluate__container {
  padding-top: 61px;
  padding-bottom: 54px;
  color: #fff;
  text-align: center;
}
.user-evaluate__name {
  font-weight: 600;
  font-size: 36px;
  line-height: 82px;
  letter-spacing: 0.324812px;
  text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
}
.user-evaluate__content {
  max-width: 952px;
  margin: 30px auto 53px;
  font-weight: 500;
  font-size: 26px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.234586px;
  text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
}
.user-evaluate__start {
  color: #f4ff00;
  font-size: 28px;
}

/* section sign-up-now   */

#sign-up-now {
  padding: 77px 90px 82px 108px;
  background: linear-gradient(161.6deg, #fe5030 8.2%, #d72d77 88.92%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sign-up-now__text {
  max-width: 791px;
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: 0.324812px;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
}
.sign-up-now__btn {
  margin-left: 30px;
  background: #fffe00;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  transition: 0.3s linear;
  cursor: pointer;
}
.sign-up-now__btn:hover {
  background-color: #fff;
}
.sign-up-now__btn span {
  display: inline-block;
  padding: 25px 21.5px 22px 20.5px;
  color: #050505;
  white-space: nowrap;
}

/* footer  */

footer {
  display: flex;
  padding: 79px 76px 76px 37px;
}
.footer__logo {
  font-weight: 800;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.826794px;
  color: #000000;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.footer__list-center,
.footer__list-right {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.footer__list-center li {
  font-size: 18px;
}
.footer__list-center li,
.footer__list-right li i {
  transition: 0.3s linear;
}
.footer__list-center li:hover {
  color: #fffe00;
}
.footer__list-center li:first-child {
  margin-left: 39px;
}
.footer__item {
  display: flex;
  margin: 0 16px;
  white-space: nowrap;
}
.footer__list-right {
}
.footer__list-right i {
  margin: 0 5px;
  color: #000;
  padding: 10px;
  font-size: 20px;
}
.footer__list-right li:first-child i:hover {
  color: rgb(0, 60, 255);
}
.footer__list-right li:nth-child(2) i:hover {
  color: #1b84b0;
}
.footer__list-right li:nth-child(3) i:hover {
  
  color: rgb(238, 139, 9);
}
.footer__list-right li:last-child i:hover {
  
  color: red;
}

/* responsive */
@media (min-width: 1400px) {
  .container {
    max-width: 1370px;
  }
}
@media (min-width: 1024px) {
  .nav__mobile-menu {
    display: none;
  }
  nav {
    margin: 0 22px 0 0px;
  }
}
@media (max-width: 1200px) {
  .sign-up-now__text {
    max-width: 791px;
    font-size: 34px;
  }
  .user-evaluate__content {
    max-width: 800px;
  }
  .topics__item-name {
    font-size: 22px;
  }#topics .slick-next {
    right: -40px;
  }
  .mentor__item-name {
    font-size: 22px;
  }
  #mentor .slick-next {
    right: -40px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  nav {
    margin: 0 22px 0 0px;
  }
  .nav__left {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .nav__list-center {
    display: none;
  }
  .nav__list-right {
    display: none;
  }
  .nav__icon-bars {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
  .nav__item {
    margin: 0 10px;
  }
  .nav__mobile-menu {
    color: #fff;
  }
  .nav__mobile-menu-content {
  }
  .nav__mobile-Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  .nav__mobile-Title h3 {
    font-size: 30px;
    font-weight: 700;
  }
  .nav__mobile-Title > p {
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s linear;
  }
  .nav__mobile-Title > p:hover {
    color: #fffe00;
  }

  .nav__mobile-Title i {
    font-size: 20px;
  }
  .nav__item {
    margin-bottom: 12px;
    padding: 5px;
    transition: 0.3s linear;
  }
  .nav__item:hover {
    color: #fffe00;
  }

  .header__content-title {
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 50px;
  }
  .header__content-describer {
    font-size: 20px;
    line-height: 40px;
    margin-right: 200px;
  }
  .header__content {
    padding-top: 98px;
    padding-bottom: 250px;
    padding-left: 110px;
  }
  .header__content-btn .btn:first-child {
    padding: 15px 20px 13px;
  }
  .header__content-btn .btn:last-child {
    padding: 15px 8px 13px;
  }
  .header__phone-image {
    transform: scale(0.8);
    bottom: -219px;
    right: -52px;
    z-index: 0;
  }
}
@media (max-width: 1023px) {
  .nav__mobile-menu-content {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    background: linear-gradient(
      146.88deg,
      rgb(255, 81, 47) -6.27%,
      rgb(221, 36, 118) 74.49%
    );
    height: 100vh;
    opacity: 1 !important;
    transition: 0.3s linear;
    z-index: 100;
  }
  nav {
    margin: 0 22px 0 0px;
  }
  .nav__left {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .nav__list-center {
    display: none;
  }
  .nav__list-right {
    display: none;
  }
  .nav__icon-bars {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
  .nav__mobile-menu {
    color: #fff;
  }
  .nav__mobile-Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  .nav__mobile-Title h3 {
    font-size: 30px;
    font-weight: 700;
  }
  .nav__mobile-Title > p {
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s linear;
  }
  .nav__mobile-Title > p:hover {
    color: #fffe00;
  }

  .nav__mobile-Title i {
    font-size: 20px;
  }
  .nav__item {
    margin-bottom: 12px;
    padding: 5px;
    transition: 0.3s linear;
  }
  .nav__item:hover {
    color: #fffe00;
  }

  .header__content-title {
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 50px;
  }
  .header__content-describer {
    font-size: 20px;
    line-height: 40px;
    margin-right: 200px;
  }
  .header__content {
    padding-top: 98px;
    padding-bottom: 250px;
    padding-left: 110px;
  }
  .header__content-btn .btn:first-child {
    padding: 15px 20px 13px;
  }
  .header__content-btn .btn:last-child {
    padding: 15px 8px 13px;
  }
  .header__phone-image {
    transform: scale(0.8);
    bottom: -219px;
    right: -52px;
    z-index: 0;
  }
  /* section introduce */
  #introduce {
    margin: 0 30px;
  }
  .introduce__title {
    font-size: 27px;
    line-height: 75px;
  }
  .introduce__title span {
    white-space: nowrap;
  }
  .introduce__description {
    margin: 0 10px;
    line-height: 27px;
  }
  /*  section topic*/
  .topics__title {
    font-size: 27px;
  }
  /*  section mentor*/
  .mentor__title {
    font-size: 27px;
  }
  /*section user-evaluate  */
  .user-evaluate__name {
    font-weight: 600;
    font-size: 30px;
    line-height: 70px;
    margin-bottom: 35px;
  }
  .user-evaluate__start {
    font-size: 25px;
  }
  .user-evaluate__content {
    max-width: 527px;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 40px;
  }

  /* section sign up now */
  #sign-up-now {
    padding: 70px 60px 75px 60px;
  }
  .sign-up-now__text {
    font-size: 24px;
  }
  /* footer */
  footer {
    display: block;
    text-align: center;
    padding: 55px 55px 55px 55px;
  }
  .footer__list-center li:first-child {
    margin-left: 0;
  }
  .footer__list {
    display: block;
  }
  .footer__logo {
    padding-bottom: 12px;
  }
  .footer__list-center {
    margin: 12px 0;
  }
  .footer__list-center,
  .footer__list-right {
    justify-content: center;
  }
  .footer__item {
    padding: 5px 0;
  }
}
@media (max-width: 767px) {
  .header__content-title {
    font-size: 35px;
  }
  .header__content-describer {
    margin-right: 0;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
  }
  .header__content {
    padding: 98px 48px 250px;
    text-align: center;
  }
  .header__phone-image {
    transform: scale(0.6);
    bottom: -264px;
    right: -104px;
    z-index: 0;
  }
  .header__content-btn .btn:first-child {
    padding: 10px 16px 8px;
    margin-right: 6px;
    font-size: 16px;
  }
  .header__content-btn .btn:last-child {
    padding: 10px 6px 8px;
    font-size: 16px;
  }

  /* section introduce */
  #introduce {
    margin: 0 20px;
  }
  .introduce__title {
    font-size: 21px;
  }
  .introduce__description {
    font-size: 14px;
  }
  /* section mentor  */
  #mentor .slick-next {
    right: -27px;
  width: 100px;
}
/* section topics */ 
 #topics .slick-next {
  right: -27px;
  width: 100px;
}
  /*section user-evaluate  */
  .user-evaluate__name {
    font-size: 26px;
    line-height: 40px;
  }
  .user-evaluate__content {
    max-width: 390px;
    font-size: 17px;
    line-height: 35px;
    margin-bottom: 35px;
  }
  #user-evaluate .slick-prev {
    left: 10px;
  }
  #user-evaluate .slick-next {
    right: 10px;
  }
  /* section sign up now */
  #sign-up-now,
  .sign-up-now__btn {
    display: inline-block;
    text-align: center;
  }
  .sign-up-now__btn {
    margin-top: 30px;
  }
  .sign-up-now__btn span {
    padding: 11px 16px 11px;
  }
}

@media (max-width: 600px) {
  .header__phone-image {
    transform: scale(0.5);
    bottom: -293px;
    right: -129px;
  }
  #introduce {
    margin: 0 20px;
  }
  .introduce__title {
    font-size: 20px;
  }
  .introduce__description {
    font-size: 14px;
  }
  /* section introduce */
  #introduce {
    margin: 0 20px;
    padding: 77px 0 77px;
  }
  .introduce__title {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .introduce__description {
    font-size: 14px;
  }

  /*section user-evaluate  */
  .user-evaluate__content {
    max-width: 326px;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .user-evaluate__name {
    font-size: 20px;
    line-height: 20px;
  }
  #user-evaluate .slick-prev {
    left: 0;
  }
  #user-evaluate .slick-next {
    right: 0;
  }
  .user-evaluate__start {
    font-size: 20px;
  }
  /* section sign up now  */
  #sign-up-now {
    padding: 70px 50px 75px 50px;
  }
  .sign-up-now__text {
    font-size: 21px;
    line-height: 45px;
  }
  /* footer */
  .footer__list-center li {
    font-size: 16px;
    margin: 0 8px;
  }
}
@media (max-width: 480px) {
  .header__content-title {
    font-size: 26px;
  }
  .header__content-describer {
    font-size: 16px;
  }
  .header__content {
    padding: 40px 18px 144px;
  }
  .header__phone-image {
    transform: scale(0.3);
    bottom: -330px;
    right: -190px;
  }
  /* section introduce */
  #introduce {
    margin-left: 15px;
  }
  .introduce__title {
    font-size: 20px;
  }
  /* section topics */
  .topics__title {
    font-size: 20px;
    line-height: 70px;
  }
  .topics__description {
    font-size: 14px;
    line-height: 27px;
    margin:0 10px 30px ;
  }

  #topics .slick-next {
    right: 8px;
  }
  /* section mentor */
  .mentor__title {
    font-size: 20px;
    line-height: 70px;
  }
  .mentor__description {
    font-size: 16px;
  }
  #mentor {
    padding-bottom: 70px
;}
.mentor__description {
  font-size: 14px;
  line-height: 27px;
  margin:0 10px 30px ;
}
  #mentor .slick-next {
    right: 8px;
  }
  /* section user-evaluate */
  .user-evaluate__name {
    margin-bottom: 25px;
  }
  .user-evaluate__content {
    max-width: 220px;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  #user-evaluate .slick-prev {
    left: 0;
    width: 80px;
  }
  #user-evaluate .slick-next {
    right: 0;
    width: 80px;
  }
  .user-evaluate__start {
    font-size: 16px;
  }
  /* section sign up now */
  #sign-up-now {
    padding: 60px 30px 60px 30px;
  }
  .sign-up-now__text {
    font-size: 18px;
    line-height: 34px;
  }
  /* footer */
  .footer__list-center {
    display: block;
  }
  .footer__logo {
    font-size: 24px;
    line-height: 30px;
  }
  .footer__list-center li:first-child {
    margin-left: 4px;
  }
  .footer__list-center li {
    font-size: 14px;
    margin: 5px 0;
    display: flex;
    justify-content: center;
  }
  .footer__list-center li:first-child {
    margin-left: 0;
  }
}
@media (max-width:400px) {
  .header__content {
    padding: 40px 18px 177px;
  }
  #topics .slick-next {
    right: -14px;
}
  #mentor .slick-next {
    right: -14px;
}
.header__content-btn .btn:first-child {
  padding: 5px 10px 5px;
  font-size: 14px;
}
.header__content-btn .btn:last-child {
  padding: 5px 3px 5px;
  font-size: 14px;
}
.header__content-title {
  font-size: 23px;
  line-height: 50px;
}
}
@media (max-width: 320px) {
  .nav__logo {
    margin-left: 22px;
  }
  .nav__mobile-menu-content {
    right: -250px;
    width: 250px;
  }
  .header__content {
    padding: 40px 14px 120px;
  }
  .header__content-describer {
    font-size: 14px;
  }

  /* section introduce */
  #introduce {
    padding: 70px 0;
    margin-left: 10px;
  }
  .introduce__title {
    font-size: 17px;
    margin-bottom: 20px;
  }
  /* section toppics */
  #topics .slick-next {
    width: 100px;
    right: -25px;
  }
  #mentor .slick-next {
    width: 100px;
    right: -25px;
  }
  /* section user-evaluate */
  .user-evaluate__name {
    font-size: 17px;
  }
  .user-evaluate__content {
    max-width: 184px;
  }

  #user-evaluate .slick-prev {
    left: -5px;
    width: 80px;
  }
  #user-evaluate .slick-next {
    right: -5px;
    width: 80px;
  }
}
@keyframes header__effect {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
